<ion-header no-border>
  <div class="login-header ion-padding">
      <img class="logo-img" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </div>
</ion-header>

<ion-content>

<div class="center">

  <div heading-column-lr>
    <h1 big-heading>Login</h1>
    <h2 routerLink='/registration' small-heading>REGISTRO</h2>
  </div>

  <div linespace></div>

  <ion-item transparent>
    <ion-icon name="mail" class="my-label"></ion-icon>
    <ion-input [(ngModel)]="user.email" placeholder="Email" type="text"></ion-input>
  </ion-item>

  <ion-item transparent>
    <ion-icon name="lock" class="my-label"></ion-icon>
        <ion-input [(ngModel)]="user.password" placeholder="Contraseña" #passwordEyeRegister [type]="passwordTypeInput"></ion-input>
        <a item-end class="btn_eye_icon" (click)="togglePasswordMode()">
          <ion-icon [name]="iconpassword"></ion-icon>
        </a>
  </ion-item>
  
  <ion-label class="forget-password">Olvidó su contraseña</ion-label>

  <div linespace></div>
    <ion-button color="primary" class="ion-button-class" shape="round" 
      fill="solid" size="large" expand="block" (click)="onLogin()">LOGIN
    </ion-button>
  </div>

</ion-content>


