<ion-header>

  <!-- debemos mostrar en el header un saludo con el nombre de Perfil
        imagino que sera bindear un dato -->
  <ion-toolbar>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-title>
      Hola! Yamil Ali
    </ion-title>
  </ion-toolbar>

  <!-- Boton del scanner -->
  <ion-fab class="fab-botton-scanner" vertical="start" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon class="icon-scanner"  name="qr-scanner"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>

          <!-- Card para el registro tipo historial -->
          <ion-card class="Card-box">
            <ion-card-header>
              <ion-icon name="paper"></ion-icon>
              <ion-card-title class="title-card">REGISTRO</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Ver registro de movimiento
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>

          <!-- Card para las entregas pendientes -->
          <ion-card>
            <ion-card-header>
              <ion-icon name="filing"></ion-icon>
              <ion-card-title>PENDIENTE</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Ver entregas pendientes
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <!-- Card para saber que es lo que tiene que recibir y saber por donde va -->
          <ion-card >
            <ion-card-header >
              <ion-icon name="barcode"></ion-icon>
              <ion-card-title>¿QUE TENGO QUE RECIBIR?</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Visualiza las entregas que tengas asignadas y mas
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <!-- Falta definir!!! -->
          <ion-card>
            <ion-card-header>
              <ion-icon name="list-box"></ion-icon>
              <ion-card-title>REGISTRO</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Ver registro de movimiento
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    

  </div>
</ion-content>