ion-content{
  border-radius: 0em;
  height: 100vh; // 100 viewport height
  width: 100vw;
}
  
.login-header{
  background: var(--theme-color);
}
  
ion-item{
  --highlight-color-focused:transparent;
  --highlight-height:0;
  --highlight-color-invalid:#000;
  --highlight-color-valid:#ddd;
  --min-height: 30px;
  --padding-start: 0;
}
  
.package-card{
  border: 2px solid rgb(181, 6, 204);
  margin:10px auto;
  border-radius: 10px !important;
  width: 90% ;
}
