<ion-header translucent>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button routerLink='/home' class="show-back-button"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient-color">
<ion-card class="package-card">
  <ion-item>
    <ion-icon name="clipboard"></ion-icon>
    <b >ID PAQUETE: </b > 14525645
  </ion-item>

  <ion-item>
    <ion-icon name="contact"></ion-icon>
    <b>CLIENTE: </b> Matias Aike Chamontee
  </ion-item>

  <ion-item>
    <ion-icon name="navigate"></ion-icon>
    <b>DESTINO: </b> Musica Tehuelche
  </ion-item>
</ion-card>

</ion-content>

<!--
<ion-card *ngFor="let package of packages">
  Id Paquete: {{package.Id}}<br>
  Cliente:{{package.receptor}}<br>
  Destino: {{package.destiny}}<br>
</ion-card>

-->