<ion-header>
  <ion-toolbar>
    <ion-title>infoView</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

<div class="center">
  <div heading-column-lr>
    <h1 big-heading>Planta #42 S.A de Camion</h1>
    
  </div>
  
  <ion-label class="forget-password">Rojas - Buenos Aires -  Cod 2705 planta depuradora Monsanto Eugenia Monte</ion-label>

  <p  small-heading>Numero de envio: </p>

  <p small-heading>Cliente: </p>
  
  <p  small-heading>Destino: </p>

  <img class="logo-img" src="../../../assets/images.png">
  &nbsp;&nbsp;&nbsp;&nbsp;




  <ion-button color="primary" class="ion-button-class" shape="round" 
      fill="solid" size="large" expand="block">CONFIRMAR
    </ion-button>

</div>






</ion-content>
